/* 默认样式 */
.box {
    position: fixed;
    top: 170px;
    left: 150px;
    width: 120px;
    height: auto;
    text-align: center;
}

.box a {
    display: block;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.box a:hover {
    background-color: #fff;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px 2px rgba(230, 0, 18, 0.9);
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

/* 媒体查询 */
@media screen and (max-width: 768px) {
    .box {
        top: 50px;
        left: 50px;
        width: 80px;
    }

    .box a {
        font-size: 12px;
    }
}

.top-n-b {
    position: absolute;
    /* 将元素的定位方式设置为绝对定位 */
    top: 50px;
    left: 50%;
    /* 将元素的左侧位置设置为页面的中间 */
    transform: translate(-50%, -50%);
    /* 使用 transform 属性和 translate() 函数将元素向上和向左移动一定的距离，从而实现垂直居中 */
    width: 640px;
    height: 50px;

    /* 其他样式属性 */
    box-sizing: border-box;
    background: linear-gradient(90.35deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-width: 1.5px 2px 2px 1.5px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 4px 4px 0px 2px rgba(230, 0, 18, 0.9);
    border-radius: 12px;
}


.welcome {
    position: absolute;
    /* 将元素的定位方式设置为绝对定位 */
    left: 50px;
    font-family: 'Taipei Sans TC Beta';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    /* identical to box height */
    color: #000000;
}


.avatar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 431px;
    border-radius: 50px;
}

.name {
    position: absolute;
    width: auto;
    height: 12px;
    left: 471px;
    font-family: 'Taipei Sans TC Beta';
    font-style: normal;
    font-weight: 700;
    line-height: 12px;

    color: #000000;
}

.y-center {
    top: 50%;
    /* 将元素的顶部位置设置为页面的中间 */
    transform: translateY(-50%);
    /* 使用 transform 属性和 translateY() 函数将元素向上移动一定的距离，从而实现垂直居中 */
}

.x-center {
    left: 50%;
    /* 将元素的顶部位置设置为页面的中间 */
    transform: translate(-50%);
    /* 使用 transform 属性和 translateY() 函数将元素向上移动一定的距离，从而实现垂直居中 */
}

.mail {
    position: absolute;
    margin: auto;
    left: 541px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mail img {
    width: 24px;
    height: 24px;
    margin: auto;
}

.top-n-b a {
    text-decoration: none;
    color: inherit;

}

.container {
    position:relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 640px;
    height: auto;
    left: 50%;
    /* 左边缘居中 */
    margin-left: -320px;
    /* 左移自身宽度的一半 */
    top: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 540px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-color: #000000;
    box-shadow: 4px 4px 0px 2px rgba(230, 0, 18, 0.9);
    border-radius: 12px;
    margin-top: 50px;
    position: relative;
}

.hint {
    position: relative;
    font-family: 'PublicPixel';
    font-size: 24px;
    height: auto;
    max-width: 577px;
    font-weight: bold;
    color: rgba(230, 0, 18, 0.9);
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(230, 0, 18, 0.9) 50%, rgba(230, 0, 18, 0.9) 100%);
    background-size: 200% 100%;
    background-position: right;
    display: inline-block;
    transition: background-position 0.5s, color 0.5s;
    letter-spacing: 0.1em;
    margin: 16px 0px 16px 0px;
}

.item:hover .hint {
    background-position: left;
    color: white;
}

.text {
    font-size: 14px;
    height: auto;
    max-width: 577px;
    font-family: 'Taipei Sans TC Beta';
    line-height: 24px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0px 10px 0px;
    font-family: 'Taipei Sans TC Beta';
}

.article .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.article .title a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    font-family: 'Taipei Sans TC Beta';

}

.article .title a:hover{
    color: #3370FF;
}

.article .label {
    display: inline;
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: auto;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Taipei Sans TC Beta';
    font-weight: bold;
    color: white;
    padding: 3px 8px;
}
.article .l1{
    background: #3370FF;
}

.article .l2{
    background: #11be45;
}


.article .preview{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.article .preview img {
    width: 236px;
    height: 143px;
}

.article .preview .summary {
    font-size: 14px;
    font-family: 'Taipei Sans TC Beta';
    color: #3b393a;
    line-height:24px;
}

hr{
    margin: 20px 0px 20px 0px;
    color: #3b393a;
}

.shengming {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    color: #3b393a;
    padding: 50px;
  }

  .down_bt {
    box-sizing: border-box;
    /* Auto layout */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    gap: 5px;
    background: #E60012;
    border: 1px solid #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 12px;

}

.down_bt p {
    width: auto;
    height: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Taipei Sans TC Beta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.down_bt img {
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.down_bt:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: #D10000;
  }